.brand-link {
    float: none !important;
}
.brand-image{
	float: none !important;
}
.wrapper{
	overflow-y: hidden;
}
.content-wrapper{
	overflow-y: scroll!important;
}
.pagination a {
    margin: 0 5px; /* Espaciado horizontal entre los enlaces */
}
.pagination .active a{
    text-decoration: none!important;
}